@()

@main("run") {

<style type="text/css">
.box {
    position: relative;
    margin: 15px 0px;
    padding: 39px 19px 14px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px 4px 4px 4px;
}
</style>

yo yo yo

<div id="stdout">
</div>

<!-- <script src="http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js"></script> -->
<!-- <script src="@routes.Assets.at("javascripts/jquery.websocket-0.0.1.js")" type="text/javascript"></script> -->
<script>
    function startWebSocket(divId, url) {
        var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
        var chatSocket = new WS(url);
        
        // Receive and handle socket messages
        chatSocket.onmessage = function(event) {
            var json = $.parseJSON(event.data);
            if (!json.target) json.target = divId;
            if (json.method && json.method == "replace") {
                $('#' + json.target).html(json.html);
            } else {
                $('#' + json.target).append(json.html);
            }
        };
        chatSocket.onopen = function(event) {
            //chatSocket.send("now here we go");
        };
        
        // Send events back to server via socket
        var prontoListener = function(event) {
            var message = {
                target: event.target.id,
                type: event.target.tagName,
                event: event.type,
                data: $(this).serialize()
            };
            chatSocket.send(JSON.stringify(message));
            return false;
        };
        
        $('#' + divId).on("submit", ".prontoInput", prontoListener);
        $('#' + divId).on("click", ":not(form).prontoInput", prontoListener);
    }

    startWebSocket("stdout", "ws://localhost:9000/ws");
</script>

}