@()

@main("run") {

<style type="text/css">
.box {
    position: relative;
    margin: 15px 0px;
    padding: 39px 19px 14px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px 4px 4px 4px;
}
</style>

yo yo yo

<div id="stdout" class="stdout">
</div>

<script src="http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js"></script>
<script src="@routes.Assets.at("javascripts/jquery.websocket-0.0.1.js")" type="text/javascript"></script>
<script>
    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
    var chatSocket = new WS("ws://localhost:9000/ws")
    /*
    var ws = $.websocket("ws://localhost:9000/ws", {
        events: {
            message: function(event) {
                alert('hi');
                $('#content').append(event.data + "<br/>");
            }
        }
    });
    ws.send('message', "hi there"); */
    chatSocket.onmessage = function(event) {
        var json = jQuery.parseJSON(event.data);
        if (!json.target) json.target = "stdout"
        $('#' + json.target).append(json.html + "<br/>");
        
        // Attach form handler
        $('.prontoForm').off('submit'); // just a hack for now
        $('.prontoForm').submit(function() {
            var message = {
                target: $(this).id,
                type: "form",
                event: "submit",
                data: $(this).serialize()
            };
            chatSocket.send($.toJSON(message));
            return false;
        });
    };
    chatSocket.onopen = function(event) {
        //chatSocket.send("now here we go");
    };
</script>
<!--
<form id="form" action="#">
    <input type="text" name="name"/>
    <input type="text" name="age"/>
    <input type="submit"/>
</form>
<script>
    $('#form').submit(function() {
        chatSocket.send($(this).serialize());
        return false;
    });
</script> -->

}